html{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
div{
    position: relative;
}
hr{
    border: 1px solid gray;
    margin-bottom: 50px;
}
.text{
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    position: relative;
    margin-bottom: 25px;
}
.name{
    font-size: 80%;
    font-weight: bold;
    position: absolute;
    left: 550px;
    bottom: 65px;
}
.sign_up{
    margin-top: 30px;
    width: 300px;
    height: 30px;
    background: greenyellow;
    border: 1px solid green;
    border-radius: 5px;
    transition: 0.25s;
}
.sign_up:active{
    background: green;
}