.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container{
    border-radius: 10px;
}
.container:nth-child(1){
    border: 10px solid red;
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 3;
}
.container:nth-child(2) {
    border: 10px solid orange;
    grid-column-start: 1;
    grid-column-end: 4;
}
.container:nth-child(3) {
    border: 10px solid yellow;
}
.container:nth-child(4) {
    border: 10px solid green;
}
.container:nth-child(5) {
    border: 10px solid blue;
}
.container:nth-child(6) {
    border: 10px solid violet;
}
.container:nth-child(7) {
    border: 10px solid brown;
}
.container:nth-child(8) {
    border: 10px solid gray;
}
.container:nth-child(9) {
    border: 10px solid black;
}